<%- include('./partials/header'); %>

<h3>Google CSV Uploader</h3>
<form action="googleuploader" method="post" enctype="multipart/form-data">
  <input type="file" name="filetoupload">
  <label for="uploaddir">Directory to upload to:</label>
  <input type="text" name="uploaddir" id="uploaddir">
  <input type="submit">
</form>

<%- include('./partials/footer'); %>