<%- include('./partials/header'); %>

<h3>Google CSV Uploader</h3>
<form action="googleuploader" method="post" enctype="multipart/form-data">
  <input type="file" name="filetoupload">
  <input type="submit">
</form>

<%- include('./partials/footer'); %>