<%- include('./partials/header'); %>

<h3>Google Music Zip Uploader</h3>
<% if (errorMsg) { %>
  <h4 class="alert"><%=errorMsg%></h4>
<% } %>
<form action="zipuploader" method="post" enctype="multipart/form-data">
  <div class="header-button">
    <input type="file" name="filetoupload" id="filetoupload">
  </div>
  <div class="header-button">
    <input type="submit" value="Upload">
  </div>
</form>

<%- include('./partials/footer'); %>