/* Common styles for header.ejs */

header {
  display: grid;
  grid-template-columns: auto auto 30px;
  column-gap: 10px;
}

header > * {
  align-self: center;
}

header > h3 {
  text-align: right;
}

/* Styles for library.ejs */

.library-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  word-break: break-all;
}

.library-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;

  word-break: break-all;
}

.library-heading {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.library-entry {
  border-bottom: 1px dashed black;
}

.library-playlist {
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 10px;
}

.library-playlist > .library-playlist-title {
  font-weight: bold;
  grid-column: 1;
}

.library-playlist > .library-playlist-description {
  font-style: italic;
  grid-column: 1;
}

.library-playlist > .library-playlist-num-tracks {
  grid-column: 1;
}

.library-playlist > .library-playlist-button {
  grid-column: 2;
  grid-row: 1 / -1;

  text-align: center;
  align-self: center;
}

/* Styles for playlist.ejs */

.playlist-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  word-break: break-all;
}

.playlist-row {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  column-gap: 10px;

  word-break: break-all;
}

.playlist-heading {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.playlist-entry {
  border-bottom: 1px dashed black;
}

.playlist-track-id {
  text-align: center;
  align-self: center;
}

.playlist-track {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  column-gap: 5px;
}

.track-heading {
  font-weight: bold;
  grid-column: 1;
}

.track-data {
  grid-column: 2;
}

.track-button {
  grid-column: 3;
  /* TODO: The -1 isn't working right now */
  grid-row: 1 / -1;

  text-align: center;
  align-self: center;
}
